@page
@model RazorPageApp.Pages.Authors.IndexModel
@{
    ViewData["Title"] = "Authors";
}

@if (Model.Message != null)
{
    <h3 class="text-primary">@Model.Message</h3>
}

<form id="sort-filter-form" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">Page</label>
            <div>
                <input asp-for="PageNum" name="PageNum"
                       class="form-control page-control-width page-num-input"
                       onchange="BookList.sendForm(this)">
                <span class="num-pages-text">of @Model.NumPages</span>
            </div>
        </div>

        <div class="col-sm-1">
            <label class="control-label">Page&nbsp;Size</label>
            <select asp-for="PageSize" name="PageSize"
                    asp-items="Model.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
                    class="form-control page-control-width"
                    onchange="BookList.sendForm(this)"></select>
        </div>
    </div>
</form>


<table class="table">
    @foreach (var item in Model.AuthorList)
    {
        <tr>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            </td>
            <td>
                <p>Published @item.BooksLinkCount books.</p>
            </td>
            <td class="vert-align">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a asp-page="./Edit" asp-route-id="@item.AuthorId">Edit</a></li>
                        <li><a asp-page="./Delete" asp-route-id="@item.AuthorId">Delete Author</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>